<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>335033066541-qd0tiovghj1r9tjh61uglqj3qaj71tmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335033066541-qd0tiovghj1r9tjh61uglqj3qaj71tmp</string>
	<key>API_KEY</key>
	<string>AIzaSyD9dNqzldEKZ1G8tVNLS1eQiZqCmkCENP8</string>
	<key>GCM_SENDER_ID</key>
	<string>335033066541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appcoda.FirebaseTutorial001</string>
	<key>PROJECT_ID</key>
	<string>liou-3b84d</string>
	<key>STORAGE_BUCKET</key>
	<string>liou-3b84d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335033066541:ios:f989f0581d398a90</string>
	<key>DATABASE_URL</key>
	<string>https://liou-3b84d.firebaseio.com</string>
</dict>
</plist>